body{
    background-color: rgb(196, 218, 210);
    margin: 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px;
    background-color: #f0f0f0;
}

.header-container img{
    width: 80px;
    margin: 0 10px;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container input{
    margin-right: 10px;
    height: 30px;
    width: 300px;
}
.search-container button{
    height: 30px;
}